#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	# No build required for Python addon

override_dh_auto_install:
	bash ./packaging/install-addon-tree.sh debian/kodi-screenreader

override_dh_auto_test:
	# No tests required for this addon
